img{
	width: 250px;
	height: 200px;

}
h1 {
	color: #0099FF; 
}
h2 {
border-bottom: 1px solid black;  
}
a{
	color: 0099FF;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
.twitter{
	color: #0099FF;
}
li{ 
	list-style-type: square;
}